<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Divine</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quattrocento:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      .q-font {
        font-family: "Quattrocento", serif;
      }

      .oswald {
        font-family: "Oswald", sans-serif;
      }
    </style>
  </head>
  <body class="bg-black">
    <nav
      class="py-[20px] md:px-[20px] text-white w-full flex flex-col md:flex-row items-center justify-center md:justify-between"
    >
      <a href="#" class="oswald w-full text-center md:text-left text-2xl" id="home">Divine.</a>
      <div
        class="pt-[20px] q-font text-sm w-full list-none flex items-center justify-around"
      >
        <a href="about" class="text-center">About</a>
        <a href="cases" class="text-center">Cases(4)</a>
        <a href="connect" class="text-center">Connect</a>
      </div>
    </nav>
  </body>
</html>
